
  .card {
    background-color: transparent;
}

.img-game-cover {
  width: 35%;
  height: auto;
  max-width: 100%;
  display: block;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  float: left;
  margin-right: 10px;
  object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
}

.info {
    margin-left: 30px;
}