<div class="change-font text-white pl-5 pr-5 pt-5">
    <h1>Curiosidades</h1>
    <div>
        <ul>
            <li *ngFor = "let item of curiosidades">{{ item.descripcion }}</li>
        </ul>
    </div>
    <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Z0T_YwozWv0?si=v98dWNI8IU19tyvh" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>